.Character {
  text-align: center;
}

.Character-logo {
  animation: Character-logo-spin infinite 20s linear;
  height: 80px;
}

.Character-header {
  padding: 20px;
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-bottom-color: lightgrey;
}

.Character-intro {
  font-size: large;
}

@keyframes Character-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
